@{
    Layout = null;
    string path = this.Request.Path;    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Página no encontrada: @path
    </div>
</body>
</html>
