@model Plenum.Models.PlenumPageDataModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plenum</title>
    <style>
        body {
            color: #A6D13B;
            background-color: #FFF;
        }
    </style>
</head>
<body>
    <div>
        <div>
            Category Name: @Model.Page.Name
        </div>
    </div>
</body>
</html>
