@model Plenum.Models.PlenumPageDataModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plenum</title>
    <style>
        body {
            color: #A6D13B;
            background-color: #003D69;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <img src="/Content/img/Logo.jpg" />
        </div>
        <div>
            Welcome to Plenum!
        </div>
    </div>
</body>
</html>